<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/css/thatsit-manager.css"/>
        <script type="text/javascript" src="scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.tools-1.2.7.min.js"></script>
        <script type="text/javascript" src="scripts/prettyprint.js"></script>
        <script type="text/javascript" src="scripts/utils.js"></script>
        <script src="scripts/jquery.hashchange.min.js" type="text/javascript"></script>
        <script src="scripts/jquery.easytabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            var _infopath = '<%- infopath %>';
            var _hosts = '<%- hosts %>';
            </script>
            <script type="text/javascript" src="scripts/playlist-manager.js"></script>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        </head>
        <body>
            <div id="information">
                <div id="msg_header">
                    <h3>Hello world, I'm the ThatsIt Playlist Manager</h3>
                </div>
                <div>
                    <form name="testform" id="ajaxform" action="" method="POST">
                        URL: <input type="text" name="geturl" value =""/> <br/>
                        <input type="submit" value="GETINFO!">
                    </form>
                </div>
                <div id="message">
                </div>
                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#tabs-getinfo">GET INFO</a></li>
                    </ul>
                    <div id="tabs-getinfo">
                        <!-- content -->
                    </div>
                </div>
            </div>
        </body>
    </html>
