<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/css/upload.css"/>
        <script type="text/javascript" src="scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.tools-1.2.7.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.form.min.js"></script>
        <script type="text/javascript" src="scripts/prettyprint.js"></script>
        <script type="text/javascript" src="scripts/utils.js"></script>
        <script type="text/javascript" src="scripts/upload.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Upload Spots</title>
</head>
    <body>

    <div class="control-group">
        <form id="uploadForm"
              enctype="multipart/form-data"
              action="/ajax/upload-spot"
              method="post">
        <div class="control">
            <input type="file" id="spotInput" name="userSpot" />
        </div>
        <div class="control">
            Duração:
            <input type="text" id="durationInput" name="durationSpot" />
        </div>

        <div class="control">
            <select id="hostInput" name="hostToSend" size="1">
            <% hosts.forEach(function (h) { %>
                <option value = "<%= h.host %>">
                    <%= h.nome %>
                </option>
            <% }); %>  
 </select>
        </div>

        <input type="submit" value="Submit">
        </form>
        <span id="status" />
    </div>


    </body>
</html>

